.projects {
    width: 100vw;
    min-height: 18.802vw;
    flex-shrink: 0;
    margin-top: 11.458vw;
    background: #261d1d;
    .title {
        position: relative;
        top: 4.063vw;
        margin-left: 12.448vw;
        h1 {
            color: #fff;
            font-family: Rubik;
            font-size: 2.604vw;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }
    }
    .cards {
        margin-left: 20.26vw;
        display: flex;
        column-gap: 5.208vw;
        margin-top: 5.208vw;
        .card {
            img {
                width: 8.281vw;
                height: 4.427vw;
                flex-shrink: 0;
            }
        }
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            position: relative;
            top: 1.719vw;
            display: inline-flex;
            height: 3.238vw;
            padding: 0.938vw 1.563vw;
            justify-content: center;
            align-items: center;
            gap: 0.521vw;
            flex-shrink: 0;
            border-radius: 1.823vw;
            background: #ff6736;
            color: #fff;
            font-family: Rubik;
            font-size: 1.005vw;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
        }
    }
}
