.skills {
    margin-top: 12.24vw;
    min-height: 60.156vw;
    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            color: #fff;
            font-family: Rubik;
            font-size: 4.245vw;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    .cards {
        position: relative;
        margin-left: 11.927vw;
        margin-top: 3.125vw;
        .card {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15.885vw;
            height: 15.885vw;
            flex-shrink: 0;
            border-radius: 15.885vw;
            background: rgba(255, 255, 255, 0.15);
            transition: 0.3s;
            &:hover {
                scale: 1.1;
            }
            &:nth-child(1) {
                position: absolute;
                top: 0;
                left: 0;
            }
            &:nth-child(2) {
                position: absolute;
                top: 13.177vw;
                left: 24.635vw;
            }
            &:nth-child(3) {
                position: absolute;
                top: 3.594vw;
                left: 47.031vw;
            }
            &:nth-child(4) {
                position: absolute;
                top: 30.625vw;
                left: 5vw;
            }
            &:nth-child(5) {
                position: absolute;
                top: 35.938vw;
                left: 39.479vw;
            }
            &:nth-child(6) {
                position: absolute;
                top: 22.552vw;
                left: 60.26vw;
            }
        }
    }
}
