.sidebar {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5.208vw;
    width: 82.083vw;
    min-height: 5.469vw;
    flex-shrink: 0;
    border-radius: 0.781vw;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(1.302vw);
    display: flex;
    align-items: center;
    z-index: 3;
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 3;
        .black {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            display: none;
        }
        .logo {
            position: relative;
            margin-left: 5.208vw;
            z-index: 3;
            a {
                img {
                    width: 2.76vw;
                    height: 3.073vw;
                    flex-shrink: 0;
                }
            }
            span {
                &::before {
                    content: "";

                    width: 0.052vw;
                    height: 2.917vw;
                    background: rgba(255, 255, 255, 0.3);
                    position: absolute;
                    right: -2.917vw;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        .link {
            margin-left: 5.833vw;
            display: flex;
            column-gap: 2.344vw;
            z-index: 3;
            a {
                color: #fff;
                font-family: Rubik;
                font-size: 1.005vw;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: capitalize;
            }
        }
        .buttons {
            margin-left: 13.75vw;
            z-index: 3;
            a {
                &:nth-child(1) {
                    display: inline-flex;
                    padding: 0.677vw 2.552vw;
                    justify-content: center;
                    align-items: center;
                    gap: 0.521vw;
                    border-radius: 0.521vw;
                    background: rgba(255, 103, 54, 0.2);
                    color: #fff;
                    font-family: Rubik;
                    font-size: 1.005vw;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-transform: uppercase;
                }
                &:nth-child(2) {
                    margin-left: 2.604vw;
                    display: inline-flex;
                    padding: 0.677vw 2.552vw;
                    justify-content: center;
                    align-items: center;
                    gap: 0.521vw;
                    border-radius: 0.521vw;
                    border: 0.052vw solid rgba(255, 103, 54, 0.2);
                    color: #fff;
                    font-family: Rubik;
                    font-size: 1.005vw;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-transform: uppercase;
                }
            }
        }
    }
}
